/** @format */

$bp-huge: 93.75em; // 1500px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 28.75em; // 460px

// =================================================================

:root {
  --color-black: #0b0d17;
  --color-white: #ffffff;

  --color-grey: #d0d6f9;
}
